body {
  background-color: white;
  color: black;
}

.navbar {text-decoration: none;}

.navbar a {
  font-size: 20px;
  color: black;
  font-family: times;
  text-decoration: none;
}
.navbar a:hover {color:blue;}

.Home-Page a {
  color: steelblue;
  text-decoration: none;
}

.Home-Page a:hover {color:mediumblue}
