body {
  --background-color: white;
  --text-color: black;
}

body.dark-theme {
  --background-color: #27292D;
  --text-color:rgba(255,255,255,0.75);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.theme-toggler {
  position: relative;
  float: right;
}

.navbar {text-decoration: none;}

.navbar a {
  font-size: 20px;
  color: var(--text-color);
  font-family: times;
  text-decoration: none;
}

.navbar a:hover {color:blue;}

.Home-Page {font-size: 18px;}

.Home-Page a {
  color: steelblue;
  text-decoration: none;
}

.Home-Page a:hover {color:mediumblue}

/*
 * about.html
 */
 #about-body {
   font-size: 24px;
 }
